.ourRoadmap {
  background-color: var(--bg-color-dark2);
}

.ourRoadmapHeader {
  margin-bottom: 100px;
}

.roadmapMain {
  position: relative;
  padding-top: 200px;
  padding-bottom: 200px;
  display: inline-block;
  width: 100%;
}

.roadmapLine {
  width: 100%;
  height: 4px;
  background-color: var(--primary-color);
  position: relative;
  box-shadow: 0 0 6px 1px var(--primary-color);
  border-radius: 3px;
}

.roadmapContent {
  position: relative;
}

.roadmapItem {
  top: 5px;
  position: absolute;
  margin-left: -8px;
  margin-top: -16px;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: #00e4ff;
  border: 4px solid #000;
  box-shadow: 0 0 6px 2px #00e4ff;
}

.roadmapItem::before {
  content: '';
  opacity: 0.6;
  position: absolute;
  display: block;
  width: 1px;
  height: 40px;
  background-color: #00e4ff;
  left: calc(50% - 1px);
}

/* Position for all item  */
.roadmapItem:nth-child(1) {
  left: 10%;
}
.roadmapItem:nth-child(2) {
  left: 20%;
}
.roadmapItem:nth-child(3) {
  left: 30%;
}
.roadmapItem:nth-child(4) {
  left: 40%;
}
.roadmapItem:nth-child(5) {
  left: 50%;
}
.roadmapItem:nth-child(6) {
  left: 60%;
}
.roadmapItem:nth-child(7) {
  left: 70%;
}
.roadmapItem:nth-child(8) {
  left: 80%;
}
.roadmapItem:nth-child(9) {
  left: 90%;
}

/* Decoration line for Top */
.roadmapItem:nth-child(2n + 1)::before {
  top: -30px;
}
/* Decoration line for Bottom */
.roadmapItem:nth-child(2n) .itemContent {
  top: 44px;
}
/* Line top */
.roadmapItem:nth-child(2n + 1) .itemContent {
  bottom: 50px;
  transform: translateY(-100%) translateX(-18%);
}
/* Line bottom */
.roadmapItem:nth-child(2n) .itemContent {
  top: 50px;
  transform: translateX(-18%);
}

.itemContent {
  position: relative;
  width: 250px;
  height: auto;
  margin-left: -60px;
  text-align: center;
}

.dateItemContent {
  color: var(--primary-color);
  font-size: 16px;
}

.itemList {
  text-align: left;
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-size: 15px;
}

.roadmapItem:nth-child(2n + 1) .itemList::before {
  border-top: 1px solid #00e4ff;
  top: -20px;
  border-bottom: none;
}

.itemList::before {
  content: '';
  position: absolute;
  border-left: 1px solid #00e4ff;
  left: -14px;
  opacity: 0.2;
  width: 45%;  
  height: calc(100% + 37px);
  bottom: -20px;
  border-bottom: 1px solid var(--secondary-color);
}

.itemListSingle {
  list-style: disc;
  color: #00e4ff;
}

.itemListSingle span {
  color: #fff;
}

@media only screen and (max-width: 1500px) {

  /* Vertical setup */
  .roadmapLine {
    width: 4px;
    height: calc(100% - 4px);
    top: 4px;
    position: absolute;
    left: 5%;
  }

  .roadmapMain {
    padding-top: 0;
    padding-bottom: 0;
    height: 1410px;
  }

  .roadmapItem {
    margin-top: 0px;
    margin-bottom: 150px;
    position: relative;
    left: 0 !important;
    margin-left: calc(5% - 5px);
  }

  .roadmapItem::before {
    top: 3px !important;
    height: 1px;
    width: 40px;
    left: 20px;
  }

  .itemContent {
    width: 350px;
    text-align: left;
  }

  /* Position for all item in the right */
  .roadmapItem:nth-child(2n) .itemContent {
    top: auto;
    left: 150px;
    bottom: 57px;
    transform: none;
  }

  .roadmapItem:nth-child(2n + 1) .itemContent {
    right: auto;
    left: 150px;
    bottom: 57px;
    transform: none;
  }

  .itemList::before {
    display: none;
  }
}

@media only screen and (max-width: 450px) {
  .roadmapItem::before {
    width: 10px;
  }

  .roadmapItem:nth-child(2n) .itemContent {
    left: 110px;
  }

  .roadmapItem:nth-child(2n + 1) .itemContent {
    left: 110px;
  }
}
