.overview {
  position: relative;
  background-color: var(--bg-color-dark);
}

.imgAbsolute1 {
  position: absolute;
  top: 440px;
  left: 20px;
}

.imgAbsolute2 {
  position: absolute;
  top: 900px;
  right: 20px;
}

.content {
  display: flex;
  justify-content: space-between;
  gap: 50px;
  align-items: end; 
}

/* .contentLeft {
  flex-basis: 40%;
} */

.list1 {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 40px;
  margin-left: 90px;
  z-index: 5;
}

.listItem1 {
  display: flex;
  align-items: center;
  gap: 30px;
}

.item1Title {
  font-size: 20px;
  font-weight: 500;
}

/* .contentRight {
  flex-basis: 60%;
} */

.imagesGroup {
  position: relative;
  width: 630px;
  height: 535px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.imgReactangle1 {
  position: absolute;
  left: -80px;
  bottom: -80px;
  z-index: 1;
  width: 417px;
  height: 331px;
}

.imgReactangle2 {
  object-fit: contain;
  z-index: 2;
}

.imgMain {
  width: 466px;
  height: 231px;
  z-index: 3;
}



@media only screen and (max-width: 1800px) {
  .imgAbsolute1 {
    left: auto;
    right: 250px;
    top: 80px;
    width: 150px;
    height: 150px;
  }

  .imgAbsolute2 {
    display: none;
  }
}

@media only screen and (max-width: 1440px) {

  .content {
    align-items: center;
  }

  .imagesGroup {
    width: 500px;
    height: 400px;
  }

  .imgReactangle1 {
    width: 300px;
    height: 200px;
    left: -60px;
    bottom: -60px;
  }

  .imgMain {
    width: 350px;
    height: 150px;
  }
}

@media only screen and (max-width: 1200px) {
  .imgAbsolute1 {
    top: 300px;
    left: 10px;
  }

  .imgAbsolute2 {
    display: block;
    right: 10px;
    width: 150px;
    height: 150px;
  }

  .content {
    flex-direction: column;
    gap: 50px;
  }

  .imagesGroup {
    width: 600px;
    height: 470px;
  }

  .imgReactangle1 {
    width: 350px;
    height: 250px;
    left: -60px;
    bottom: -60px;
  }

  .imgMain {
    width: 450px;
    height: 225px;
  }

  .list1 {
    margin-left: 0;
    gap: 20px;
  }

}

@media only screen and (max-width: 992px) {
  .imgAbsolute1, .imgAbsolute2 {
    display: none;
  }
}

@media only screen and (max-width: 768px) {

  .imagesGroup {
    width: 100%;
    height: auto;
  }

  .imgReactangle1 {
    width: 350px;
    height: 250px;
    left: -60px;
    bottom: -60px;
  }

  .imgMain {
    width: 450px;
    height: 225px;
  }


  .listItem1Icon {
    width: 35px;
    height: 35px;
  }
}

@media only screen and (max-width: 576px) {
  .listItem1Icon {
    width: 30px;
    height: 30px;
  }

  .item1Title {
    font-size: 18px;
  }
}

