/* Wating list form styles */
.watingList {
  position: fixed;
  /* padding: 50px; */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9999 !important;
  width: 100%;
  height: 100%;
  background-color: rgba(23, 19, 19, 0.9);
  /* display: flex;
  align-items: center;
  justify-content: center; */
  overflow-y: scroll;
  overflow-x: hidden;
  scroll-behavior: smooth;
  padding-top: 100px;
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 100px;
}

.watingList .show {
  display: block;
}

.hide {
  display: none;
}

/* ====== Styles for form start ====== */
.form {
  position: relative;
  z-index: 9999 !important;
  width: 35%;
  height: auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 15px;
  row-gap: 10px;
  padding: 30px 25px;
  background-color: #2c2c35;
  border-radius: 15px;
  overflow: visible;
  margin: 0 auto;
}

.closeIcon {
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 30px;
  cursor: pointer;
  line-height: 0;
  color: var(--primary-color);
  transition: var(--transition);
}
.closeIcon:hover {
  color: var(--secondary-color);
}

.formTitle {
  grid-column: 1 / 3;
  text-align: center;
  font-size: 30px;
  font-weight: 600;
}

.formLabel {
  color: var(--primary-color);
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 5px;
  line-height: 2;
  margin-left: 10px;
}

.formInput {
  background-color: #21212a;
  min-height: 40px;
  width: 100%;
}

.formSelect {
  width: 100%;
  padding: 5px;
  min-height: 40px;
  border-radius: 15px 15px 15px 15px;
  background-color: #21212a;
  font-size: 16px;
  font-family: var(--font-outfit);
  color: var(--text-color);
  border: none;
}
.formSelect:focus {
  border-radius: 15px 15px 0 0;
  outline: none;
  border: 2px solid var(--primary-color);
  background-color: #4c4c4d;
}

.formError {
  color: red;
}

.formSuccess {
  color: #0fc20f;
}

.formInput.formSuccess {
  border: 2px solid green;
}

.formInput.formError {
  border: 1px solid rgb(245, 59, 59) !important;
}

.formInput[type='text'],
.formInput[type='email'] {
  border: none;
  outline: none;
  padding-left: 20px;
  padding-right: 20px;
  font-size: 16px;
  color: var(--white);
}

.formInput:focus {
  border: 2px solid var(--primary-color);
  background-color: #1b2048;
}

.formInput::placeholder {
  color: #c1bcbc;
  font-size: 16px;
}

.formItem {
  width: 100%;
}

.formItem input {
  border-radius: 15px;
}

.formTextarea {
  height: 100px;
  width: 100%;
  grid-column: 1 / 3;
  margin-bottom: 60px;
  border: none !important;
  outline: none;
  box-shadow: none;
  
}
.formTextareaIput {
  color: var(--text-color) !important;
  padding: 20px;
  background-color: #21212a;
  outline: none;
  resize: none;
  width: 100%;
  height: 100%;
  border-radius: 15px;
}
.formTextareaIput::placeholder {
  font-size: 16px;
  font-family: var(--font-outfit);
}
/* here styles for button */

.formMsgSent {
  line-height: 1;
  /* color: var(--white); */
  font-weight: bold;
  grid-column: 1 / 3;
  text-align: center;
}

.formBtn {
  grid-column: 1 / 3;
  margin: 0 auto;
}

@media only screen and (max-width: 1850px) {
  .form {
    width: 50%;
  }
}

@media only screen and (max-width: 1450px) {
  .watingList {
    padding-top: 50px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 50px;
  }

  .form {
    width: 60%;
  }
}

@media only screen and (max-width: 1050px) {
  .form {
    width: 70%;
  }
}

@media only screen and (max-width: 992px) {
  .form {
    width: 80%;
  }
}

@media only screen and (max-width: 768px) {
  .form {
    grid-template-columns: 1fr;
    gap: 10px;
    width: 100%;
  }

  .formTitle {
    font-size: 25px;
    grid-column: auto;
  }

  .formTextarea {
    grid-column: auto;
    margin-bottom: 60px;
  }

  .formMsgSent {
    grid-column: auto;
  }

  .formBtn {
    grid-column: auto;
    margin-top: 10px;
  }
}

@media only screen and (max-width: 576px) {
  .watingList {
    padding-top: 30px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 30px;
  }

  .form {
    padding: 30px 15px;
  }

  .formLabel {
    font-size: 16px;
  }

  .formTitle {
    font-size: 22px;
  }

  .formTextarea {
    margin-bottom: 55px;
  }

  .closeIcon {
    font-size: 25px;
    top: 10px;
    right: 10px;
  }
}

/* ====== Styles for form end ====== */
